body{
    background-color: rgb(126, 126, 126);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: larger;
    font-weight: 300;
}
#presentacion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

#presentacion img {
    max-width: 650px;
    height: 100%;
    object-fit: cover;
}
#presentacion div {
   margin-left: 20px;
}

#presentacion h2,
#presentacion p {
    flex: 1;
}
#proyecto {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

#proyecto img {
    margin-left: auto;
    max-width: 500px;
    height: 100%;
}

#proyecto div {
    flex: 1;
    margin-right: auto;
}
section{
     margin-top: 30px;
     border: 5px solid blue;
     background-color: rgb(33, 156, 197);
     border-radius: 20px;
}